/* CSS aviones */
#contenedor-tablas-aviones{
    margin: auto;
    margin-top: 5REM;
    width: 40rem;
    height: 30rem;
}

#contenidoaviones{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#arriba-aviones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    
}
#boton-nuevo{
    width: 100px;
    height: 2rem;
    border-radius: 2rem;
    background-color: #25AB5B;
    color: var(--blanco);
    cursor: pointer;
    font-weight: bold;

}

.buscaraviones{
    text-align: right;
}
input[type=text]{
    width: 14rem;
    height: 2rem;
    border-radius: 2rem;
    color: var(--grisletras);
    padding-left: 10px;
    padding-right: 10px;
    
}
input[type=text]:focus{
    outline: none;
}
#boton-nuevo:hover{
    background-color: #468B62;
}
#tablaaviones{
    width: 43rem;
    height: 30rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    border-radius: 2rem;
}
.infoaviones p{
    font-size: 1.2rem;
    font-weight: bold;
}
#tablaaviones table{
    width: 40rem;
    height: 30rem;
    border-radius: 2rem;
    background-color: var(--blanco);
    border-collapse: collapse;
    
}
#tablaaviones table tr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 10px;
   
    
}
#tablaaviones table .trpadreavion{
    background-color: var(--azulclaro);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 4rem;
    
}
tr:nth-child(even){
background-color: #ddd;
}

#tablaaviones table td{
    text-align: center;
}
.iconosaviones{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 25px;
}
