*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    color: #4C5658; 
}

:root{
    --blanco:#FFFFFF;
    --fuentep: 1.5rem;
    --grisletras: #4C5658;
    --azul:rgba(26,45,75,1);
    --azulclaro: #A1D6E2;
    --rojo: rgba(226,0,26,1); 
    --rojo1: rgb(175, 36, 36);
    --blanco2:rgb(211, 205, 205);
}

.alert {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f44336; /* Red */
    margin-bottom: 15px;
    width: 40vw;
    min-width: 220px;
    position: absolute;
    top: 0px;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    z-index: 12;
    min-height: 80px;
}

.alert div {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
}

.alert div  p {
    color: white;
    text-align: center;
}

/* The close button */
.closebtn {
    margin-left: 6px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


.cuerpo{
    min-height: 20vh;
    background-color: var(--azulclaro);
   width: auto;
    min-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.malla{
    display: flex;
    flex-direction: column;
    padding: 2em;
    max-width: min-content;
}

.formulario{
    width: 650px;
    margin: auto;
}

.arriba{
    max-height: 308px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    width: 400px;
}
h1,h4{
    font-weight: bold;
}


select,input[type=text],input[type=password],input[type=email], input[type=date], input[type=number]{
    border-radius: 2rem;
    border: 3px solid var(--negro);
    width: 19rem;
    height: 2.8rem;
    font-size: 1.1rem;
    text-align: left;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
}

#dire{
    width: 39rem;
}

.dire{
    padding: 0.5rem;
    padding-top: 1rem;
    text-align: center;
}

input[type=text]:hover,input[type=password]:hover,input[type=email]:hover, input[type=date]:hover, input[type=number]:hover, select:hover{
    outline: none;
    border: 2px solid var(--grisletras);
    
}
.reg:hover{
    color: var(--blanco2);
    cursor: pointer; 
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] { -moz-appearance:textfield; }

.nombre-ape{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    justify-items: center;
}

.nombre-ape h4{
    margin-left: 1rem;
}


.enviar{
    text-align: center;
    padding-top: 3vh;
}
.reg{
    border-radius: 2rem;
    width: 12rem;
    height: 2.5rem;
    border: 3px solid var(--grisletras);
    background-color: var(--blanco);
    color: var(--grisletras);
    font-size: 1.2rem;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}



@media screen and (max-width: 768px) {
    .formulario{
        height: 40rem;
        width: 380px;
        padding: auto;
        padding-top: 10px;
    }
    .nombre-ape{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        
    }
    .arriba{
        font-size: 1.5rem;
        padding-top: 1rem;
        position:relative;
        width: 300px;
        height: 15rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }
    #dire{
        width: 19rem;
    }
}
@media screen and (max-width: 576px) {
    .formulario{
        height: 40rem;
        width: 380px;
        padding-top: 10px;
    }
    .arriba{
        font-size: 1.5rem;
        padding-top: 2vh;
        position:relative;
        width: 300px;
        height: 15rem;
        
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }
    
}
@media screen and (min-width: 769px) {
    
    .arriba{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom:1rem;
    }
    
    .formulario{
        padding-top: 0rem;
        margin-top: 0rem;
    }
    
}

@media screen and (max-width: 380px) {
    .formulario{
        width: 18rem;
        margin: auto;
        min-height: 10vh;
    }
    select,input[type=text],input[type=password],input[type=email], input[type=date], input[type=number]{
        width: 14rem;
        height: 2.8rem;
        font-size: 1.1rem;
    }

    #dire{
        width: 14rem;
    }
   
}

.footer{
    display: flex;
    width: auto;
    height: 4rem;
    background-color: var(--blanco);
    align-items: center;
    justify-content: center;
}

.contenido-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.Terminos{
    text-align: center;
}

h5{
    font-weight: normal;
    font-size: 1rem;
    padding: 0 1rem;
}

@media (max-width: 769px) {

}