 #contenedor-tablas{
    margin: 4rem;
    width: auto;
}

#contenido{
    display: flex;
    flex-direction: column;
}
#boton-nuevo, #boton-nuevoedit, #boton-nuevodelete{
    width: 100px;
    height: 2rem;
    border-radius: 2rem;
    background-color: #25AB5B;
    color: var(--blanco);
    cursor: pointer;
    font-weight: bold;

}
#boton-cancelaredit, #boton-cancelardelete, #boton-eliminar{
    width: 100px;
    height: 2rem;
    border-radius: 2rem;
    background-color: #D65252;
    color: var(--blanco);
    cursor: pointer;
    font-weight: bold;

}
#arriba{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 1rem;
    
}
#boton-nuevo:hover,#boton-nuevoedit:hover, #boton-nuevodelete:hover{
    background-color: #468B62;
}
#boton-cancelaredit:hover, #boton-cancelardelete:hover{
    background-color: #a74f4f;
}

.buscar{
    text-align: right;
}
input[type=text], input[type=number]{
    width: 14rem;
    height: 2rem;
    border-radius: 2rem;
    color: var(--grisletras);
    padding-left: 10px;
    padding-right: 10px;
    
}
input[type=text]:focus{
    outline: none;
}

#boton-nuevo:hover{
    background-color: #468B62;
}
.fas.fa-trash{
    color: #D65252;
}
.fas.fa-edit{
    color: cornflowerblue;
}

a{
    cursor: pointer;
}
#boton-nuevo:hover{
    background-color: #468B62;
}
/* #tabla{
    width: 62rem;
    height: 31rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    border-radius: 2rem;
}
.info p{
    font-size: 1.2rem;
    font-weight: bold;
}
#tabla table{
    width: 60rem;
    height: 30rem;
    border-radius: 2rem;
    background-color: var(--blanco);
    border-collapse: collapse;
}
#tabla table tr{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 10px;
   
    
}
#tabla table .trpadre{
    background-color: var(--azulclaro);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 4rem;
    
}
tr:nth-child(even){
background-color: #ddd;
}

#tabla table td{
    text-align: center;
} */
td{
    text-align: center;
}
.iconos{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.contenedor-editar{
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    pointer-events: none;
    opacity:0 ;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition-duration: 00.35s;
}


.contenido-editar{
    width: 30rem;
    height: 21rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
}


.contenedor1, .contenedor2 {
    margin: auto;
}
#contenedor-editar p{
    font-size: 2rem;
    
}
#contenedor-nuevo p{
    font-size: 2rem;
    
}
.showguardar{
    pointer-events: auto;
    opacity: 1;
}
.showeditar{
    pointer-events: auto;
    opacity: 1;
}
.formulario{
    margin-top: 20px;
}

.nombre-ape{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.enviar{
    text-align: center;
}


.contenedor-eliminar{
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    pointer-events: none;
    opacity:0 ;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition-duration: 00.35s;
}

.contenido-eliminar{
    width: 20rem;
    height: 10rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.showeliminar{
    pointer-events: auto;
    opacity: 1;
}
.card-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}