{% extends 'layout.html'%}
{% block body %}
<div class="contenedorizq">
    <div class="arriba">
        <div id="menubt">
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
        </div>
        <div class="text">
            <p>SUPERADMINISTRADOR</p>
        </div>
        <div id="imagen">
            <svg xmlns="http://www.w3.org/2000/svg" width="185.479" height="181.5" viewBox="0 0 185.479 181.5">
                <path id="Icon_awesome-user-alt" data-name="Icon awesome-user-alt"
                    d="M92.739,102.094c28.8,0,52.166-22.865,52.166-51.047S121.539,0,92.739,0,40.573,22.865,40.573,51.047,63.939,102.094,92.739,102.094Zm46.37,11.344H119.148a64.318,64.318,0,0,1-52.818,0H46.37C20.758,113.438,0,133.75,0,158.813v5.672A17.21,17.21,0,0,0,17.389,181.5h150.7a17.21,17.21,0,0,0,17.389-17.016v-5.672C185.479,133.75,164.721,113.438,139.109,113.438Z"
                    fill="#4c5658" />
            </svg>

            <div>
                <p>
                    Mateo Andres Caicedo Niebles
                </p>
                <p>
                    1001880014
                </p>
            </div>
        </div>


    </div>
    <div class="resto">
        <div class="content">

            <div class="contenedortablas">
                <div class="tablas">
                    <p>Informacion basica</p>
                    <div class="tabla">
                        <div class="filas1">
                            <div class="enunciado">
                                <p>Nombre completo</p>
                            </div>
                            <div class="respuesta">
                                <p>Mateo Andres Caicedo Niebles</p>
                            </div>

                        </div>
                        <div class="filastab">
                            <div class="enunciado">
                                <p>Nombre completo</p>
                            </div>
                            <div class="respuesta">
                                <p>Mateo Andres Caicedo Niebles</p>
                            </div>
                        </div>
                        <div class="filastab">
                            <div class="enunciado">
                                <p>Numero de identificacion</p>
                            </div>
                            <div class="respuesta">
                                <p>1001880014</p>
                            </div>
                        </div>
                        <div class="filastab">
                            <div class="enunciado">
                                <p>Contraseña</p>
                            </div>
                            <div class="respuestaconicono">
                                <div class="Texto">
                                    <a href="">Cambiar contraseña</a>
                                </div>
                                <div class="editar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="27.405" height="24.148"
                                        viewBox="0 0 27.405 24.148">
                                        <path id="Icon_awesome-edit" data-name="Icon awesome-edit"
                                            d="M19.155,3.927l4.292,4.255a.458.458,0,0,1,0,.651l-10.391,10.3-4.415.486a.921.921,0,0,1-1.023-1.014l.49-4.378L18.5,3.927A.468.468,0,0,1,19.155,3.927Zm7.708-1.08L24.541.545a1.872,1.872,0,0,0-2.626,0L20.23,2.215a.458.458,0,0,0,0,.651l4.292,4.255a.468.468,0,0,0,.657,0l1.684-1.67a1.834,1.834,0,0,0,0-2.6ZM18.27,16.334v4.8H3.045V6.041H13.978a.588.588,0,0,0,.4-.165l1.9-1.887a.566.566,0,0,0-.4-.967H2.284A2.275,2.275,0,0,0,0,5.286V21.891a2.275,2.275,0,0,0,2.284,2.264H19.031a2.275,2.275,0,0,0,2.284-2.264V14.447a.573.573,0,0,0-.975-.4l-1.9,1.887A.578.578,0,0,0,18.27,16.334Z"
                                            transform="translate(0 -0.007)" fill="#4c5658" />
                                    </svg>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tablas">
                    <p>Informacion basica</p>
                    <div class="tabla">
                        <div class="filas1">
                            <div class="enunciado">
                                <p>Nombre completo</p>
                            </div>
                            <div class="respuesta">
                                <p>Mateo Andres Caicedo Niebles</p>
                            </div>

                        </div>
                        <div class="filastab">
                            <div class="enunciado">
                                <p>Nombre completo</p>
                            </div>
                            <div class="respuesta">
                                <p>Mateo Andres Caicedo Niebles</p>
                            </div>
                        </div>
                        <div class="filastab">
                            <div class="enunciado">
                                <p>Numero de identificacion</p>
                            </div>
                            <div class="respuesta">
                                <p>1001880014</p>
                            </div>
                        </div>
                        <div class="filastab">
                            <div class="enunciado">
                                <p>Contraseña</p>
                            </div>
                            <div class="respuestaconicono">
                                <div class="Texto">
                                    <a href="">Cambiar contraseña</a>
                                </div>
                                <div class="editar">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="27.405" height="24.148"
                                        viewBox="0 0 27.405 24.148">
                                        <path id="Icon_awesome-edit" data-name="Icon awesome-edit"
                                            d="M19.155,3.927l4.292,4.255a.458.458,0,0,1,0,.651l-10.391,10.3-4.415.486a.921.921,0,0,1-1.023-1.014l.49-4.378L18.5,3.927A.468.468,0,0,1,19.155,3.927Zm7.708-1.08L24.541.545a1.872,1.872,0,0,0-2.626,0L20.23,2.215a.458.458,0,0,0,0,.651l4.292,4.255a.468.468,0,0,0,.657,0l1.684-1.67a1.834,1.834,0,0,0,0-2.6ZM18.27,16.334v4.8H3.045V6.041H13.978a.588.588,0,0,0,.4-.165l1.9-1.887a.566.566,0,0,0-.4-.967H2.284A2.275,2.275,0,0,0,0,5.286V21.891a2.275,2.275,0,0,0,2.284,2.264H19.031a2.275,2.275,0,0,0,2.284-2.264V14.447a.573.573,0,0,0-.975-.4l-1.9,1.887A.578.578,0,0,0,18.27,16.334Z"
                                            transform="translate(0 -0.007)" fill="#4c5658" />
                                    </svg>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



{% endblock %}