{% extends 'layout.html'%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">

{% endblock css %}

{% block body %}
<div class="contenedorizq">
    <div class="arriba">
        <div id="menubt">
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
        </div>
        <div class="text">
            <p>USUARIOS</p>
        </div>
    </div>

    <div id="contenido">

        <div id="contenedor-tablas">
            <div id="arriba">
                <div class="info">
                    <p>INFORMACIÓN DE USUARIOS</p>
                </div>
            </div>
            <div>
                <table id="tabla" tyle="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>DIRECCION</th>
                            <th>CORREO</th>
                            <th>GENERO</th>
                            <th>FECHA</th>
                            <th>CEDULA</th>
                            <th>ROL</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in usuarios %}
                        <tr>
                            <td>{{r["id_usuarios"]}}</td>
                            <td>{{r[4]}}</td>
                            <td>{{r["apellido"]}}</td>
                            <td>{{r["direccion"]}}</td>
                            <td>{{r["correo"]}}</td>
                            <td>{{r["genero"]}}</td>
                            <td>{{r["fecha_nacimiento"]}}</td>
                            <td>{{r["cedula"]}}</td>
                            <td>{{r["nombre"]}}</td>
                            <td class="iconos">
                                <div>
                                    <a  class="eliminar fas fa-trash" onmousedown="Eliminar()"<i"></i></a>

                                </div>
                                

                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>DIRECCION</th>
                            <th>CORREO</th>
                            <th>GENERO</th>
                            <th>FECHA</th>
                            <th>CEDULA</th>
                            <th>ROL</th>
                            <th>ACCIONES</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>

        <div id="contenedor-eliminar" class="contenedor-eliminar">
            <div class="contenido-eliminar">
                <div class="contenedor2">
                    <p>Desea eliminar el vuelo?</p>
                    <form method="POST" class="formulario">
                        <div class="enviar">
                            <button id="boton-nuevodelete" type="submit">Eliminar</button>
                            <button id="boton-cancelardelete" type="button">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock body %}