{% extends 'layout.html'%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">

{% endblock css %}

{% block body %}
<div class="contenedorizq">
    <div class="arriba">
        <div id="menubt">
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
        </div>
        <div class="text">
            <p>USUARIOS</p>
        </div>
    </div>

    <div id="contenido">

        <div id="contenedor-tablas">
            <div id="arriba">
                <p>INFORMACIÓN DE USUARIOS</p>
                
                
            </div>

            <div>
                <table id="tabla" tyle="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>DIRECCION</th>
                            <th>CORREO</th>
                            <th>GENERO</th>
                            <th>FECHA</th>
                            <th>CEDULA</th>
                            <th>ROL</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in usuarios %}
                        <tr>
                            <td>{{r["id_usuarios"]}}</td>
                            <td>{{r[4]}}</td>
                            <td>{{r["apellido"]}}</td>
                            <td>{{r["direccion"]}}</td>
                            <td>{{r["correo"]}}</td>
                            <td>{{r["genero"]}}</td>
                            <td>{{r["fecha_nacimiento"]}}</td>
                            <td>{{r["cedula"]}}</td>
                            <td>{{r["nombre"]}}</td>
                            <td class="iconos">
                                <div>
                                    <a href="{{url_for('adminsusuarioseditar',id=r['id_usuarios'])}}"
                                        class="editar fas fa-edit" type="button" <i></i></a>
                                </div>
                                <div>
                                    <a href="{{url_for('adminsusuarioseliminar',id=r['id_usuarios'])}}"
                                        class="eliminar fas fa-trash" <i"></i></a>
                                    </a>
                                </div>

                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>APELLIDO</th>
                            <th>DIRECCION</th>
                            <th>CORREO</th>
                            <th>GENERO</th>
                            <th>FECHA</th>
                            <th>CEDULA</th>
                            <th>ROL</th>
                            <th>ACCIONES</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="btn-buenousuario">
                <button id="boton-nuevo" class="boton-nuevo" type="button" onclick="Guardar()">Nuevo</button>

            </div>
        </div>

        <div id="contenedor-nuevo" class="contenedor-nuevo">
            <div class="contenido-nuevo">
                <div class="contenedor3">
                    <p>Datos de usuarios</p>
                    <form method="POST" class="formulario">
                        <div class="nombre-ape">
                            <div class="card-columns">
                                <input type="text" name="nombre" placeholder="Nombre">
                                <input type="text" name="apellido" placeholder="Apellido">

                            </div>
                            <div class="card-columns">
                                <input type="text" name="Direccion" placeholder="Direccion">
                                <input type="text" name="Correo" placeholder="Correo">

                            </div>
                            <div class="card-columns">
                                <input type="password" name="contraseña" placeholder="contraseña">
                                <input type="password" name="confirmcontra" placeholder="confirmcontra">
                            </div>
                            <div class="card-columns">
                                <input type="date" name="fecha" placeholder="Fecha de nacimiento">
                                <input type="number" name="Cedula" placeholder="Cedula">

                            </div>


                            <div class="card-columns">
                                <select name="sexo" id="sexs">
                                    <option value="">Selecciona una opción</option>
                                    <option value="Femenino">Femenino</option>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Otros">Otros</option>
                                </select>
                                <select name="rol">
                                    <option value="">Selecciona un rol</option>
                                    {% for r in rol %}
                                    <option value="{{r['id_rol']}}">{{r["nombre"]}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="enviar">
                                <button id="boton-nuevoedit" type="submit">Guardar</button>
                                <button id="boton-cancelarnuevo" type="button">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}