{% extends 'layout.html'%}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vuelos.css') }}">

{% endblock css %}
    
{% block body %}
<div class="contenedorizq">
    <div class="arriba">
        <div id="menubt">
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
        </div>
        <div class="text">
            <p>VUELOS</p>
        </div>
    </div>

    <div id="contenido">

        <div id="contenedor-tablas">
            <div id="arriba">
                    <p>INFORMACIÓN DE VUELOS</p>
                

            </div>

            <div >
                <table id="tabla" tyle="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ORIGEN</th>
                            <th>DESTINO</th>
                            <th>ESCALA</th>
                            <th>PILOTO</th>
                            <th>CAPACIDAD</th>
                            <th>AVION</th>
                            <th>ESTADO</th>
                            <th>PRECIO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        {% for r in vuel%}
                        <tr>
                            <td>{{r["ID"]}}</td>
                            <td>{{r["origen"]}}</td>
                            <td>{{r["destino"]}}</td>
                            <td>{{r["escala"]}}</td>
                            <td>{{r["nombre"]}}</td>
                            <td>{{r["cupos"]}}</td>
                            <td>{{r["marca"]}}</td>
                            <td>{{r["estado"]}}</td>
                            <td>{{r["precio"]}}</td>
                            <td class="iconos">
                                <div>
                                    <a href="{{url_for('admineditarvuelos',id=r['ID'])}}" class="editar fas fa-edit" type="button" <i></i></a>
                                </div>
                                <div>
                                    <a href="{{url_for('admineliminarvuelos',id=r['ID'])}}" class="eliminar fas fa-trash" "<i"></i></a>
                                </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor%}
                    </tbody>
                    
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>ORIGEN</th>
                            <th>DESTINO</th>
                            <th>ESCALA</th>
                            <th>PILOTO</th>
                            <th>CAPACIDAD</th>
                            <th>AVION</th>
                            <th>ESTADO</th>
                            <th>PRECIO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </tfoot>

                </table>
            </div>

            <div id="btn-buenovuelo">
                <button id="boton-nuevo" class="boton-nuevo" type="button"
                    onclick="Guardar()">Nuevo</button>
                    
            </div>
        </div>
        <div id="contenedor-editar" class="contenedor-editar">
            <div class="contenido-editar">
                <div class="contenedor1">
                    <p>Editar datos del vuelo</p>
                    <form method="POST" class="formulario">
                        <div class="nombre-ape">
                            <div class="card-columns">
                                <input type="text" placeholder="ID">
                            <input type="text" placeholder="Origen">
                            </div> 
                            <div class="card-columns">
                                <input type="text" placeholder="Destino">
                                <input type="text" placeholder="Escala">
                            </div> 
                            <div class="card-columns">
                                <input type="text" placeholder="Piloto">
                            <input type="number" placeholder="Capacidad">
                            </div> 
                            <div class="card-columns">
                                <input type="text" placeholder="Avion">
                            <input type="text" placeholder="Estado">
                            </div> 
                            
                            
                            
                            <input type="number" placeholder="Precio">

    
                            <div class="enviar">
                                <button id="boton-nuevoedit" type="submit">Editar</button>
                                <button id="boton-cancelaredit" type="button">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
        <div id="contenedor-eliminar" class="contenedor-eliminar">
            <div class="contenido-eliminar">
                <div class="contenedor2">
                    <p>Desea eliminar el vuelo?</p>
                    <form method="POST" class="formulario">
                        <div class="enviar">
                            <button id="boton-nuevodelete" type="submit">Editar</button>
                            <button id="boton-cancelardelete" type="button">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="contenedor-nuevo" class="contenedor-nuevo">
        <div class="contenido-nuevo">
            <div class="contenedor3">
                <p>Datos de vuelo</p>
                <form method="POST" class="formulario">
                    <div class="nombre-ape">
                        <div class="card-columns">
                        <input type="text" name="origen" placeholder="Origen">
                        <input type="text" name="destino" placeholder="Destino">
                        </div> 
                        <div class="card-columns">
                            <input type="text" name="escala" placeholder="Escala">
                            <select name="Piloto" >
                                <option value="">Selecciona un piloto</option>
                                {% for r in piloto %}
                                <option value="{{r['id_usuarios']}}" >{{r["nombre"]}}</option>
                                {% endfor %}
                            </select>
                            
                            
                        </div> 
                        <div class="card-columns">
                            <input type="number" name="cupos" placeholder="Cupos">
                            <select name="avion" >
                                <option value="">Selecciona un avion</option>
                                {% for r in av %}
                                <option value="{{r['id_avion']}}">{{r["marca"]}}</option>
                                {% endfor %}
                                
                            </select>
                            
                        
                        </div> 
                        <div class="card-columns">
                            <input type="text" name="Estado" placeholder="Estado">
                            <input type="number" name="precio" placeholder="Precio">
                        
                        </div> 
                        
                        
                        
                        

                        <div class="enviar">
                            <button id="boton-nuevo" type="submit">Guardar</button>
                            <button id="boton-cancelarnuevo" type="button">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    {% endblock body %}