{% extends 'layout.html'%}

{% block css %}
<link href="{{ url_for('static',filename='css/vuelos-asignados.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}
<div class="contenedorizq">
    <div class="arriba">
        <div id="menubt">
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
            <div class="btnhamburguer"></div>
        </div>
        <div class="text">
            <p>PILOTOS</p>
        </div>
    </div>

    <div id="contenido">

        <div id="contenedor-tablas">
            <div id="arriba">
                <div class="info">
                    <p>VUELOS ASIGNADOS</p>
                </div>
                

            </div>

            <div>
                <table id="tabla" tyle="width:100%">
                    <thead>
                        <tr>
                            <th>IDVUELO</th>
                            <th>NOMBRE</th>
                            <th>ORIGEN</th>
                            <th>DESTINO</th>
                            <th>ESCALA</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for r in asig%}
                    <tr>
                        <td>{{r["ID"]}}</td>
                        <td>{{r["nombre"]}}</td>
                        <td>{{r["origen"]}}</td>
                        <td>{{r["destino"]}}</td>
                        <td>{{r["escala"]}}</td>
                    </tr>
                    {%endfor%}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>IDVUELO</th>
                            <th>NOMBRE</th>
                            <th>ORIGEN</th>
                            <th>DESTINO</th>
                            <th>ESCALA</th>
                        </tr>
                    </tfoot>

                </table>
            </div>


        </div>
        <div id="contenedor-editar" class="contenedor-editar">
            <div class="contenido-editar">
                <div class="contenedor1">
                    <p>Editar datos del vuelo</p>
                    <form method="POST" class="formulario">
                        <div class="nombre-ape">
                            <input type="text" placeholder="ID">
                            <input type="text" placeholder="Nombre">

                            <input type="text" placeholder="Origen">
                            <input type="text" placeholder="Destino">

                            <input type="text" placeholder="Escala">



                            <div class="enviar">
                                <button id="boton-nuevoedit" type="submit">Editar</button>
                                <button id="boton-cancelaredit" type="button">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="contenedor-eliminar" class="contenedor-eliminar">
            <div class="contenido-eliminar">
                <div class="contenedor2">
                    <p>Desea eliminar el vuelo?</p>
                    <form method="POST" class="formulario">
                        <div class="enviar">
                            <button id="boton-nuevodelete" type="submit">Editar</button>
                            <button id="boton-cancelardelete" type="button">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock body %}